body {
  margin: 0px;
}

.inputDiv {
  width: 150px;
  position: absolute;
  left: 17%;
  top: 37%;
  height: 22%;
  border: 2px orange solid;
  width: 18%;

}

.logo {
  width: 150px;
  position: absolute;
  left: 2%;
  top: 30%;
  /*margin-right: 20px;*/
}

.navInput {
 /* width: 150px;
  position: absolute;
  left: 17%;
  top: 37%;
  height: 22%;*/
  width: 100%;
  /*margin:auto;*/
}


li {
  list-style: none;
}

.list {
  position: relative;
  width: 100%;
  border: solid black 2px;
  top: 75%;
}
.nav {
  position: relative;
  border: solid red 2px;
  height: 100px;
  background-color: blue;

}

.navOpt {
  /*position: absolute;*/
  /*position: relative;*/
  border: solid green 2px;
  display: inline-block;
  /*right: -5%;*/
  /*bottom*/: -75px;
  color: black;
  /*margin:auto;*/
  height: 50%
  width: 100%;
}




}